body {
  font-family: "Open Sans", sans-serif; }

h1,
h2,
h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: #3046C5; }

header h2 {
  color: #CEC8FF; }

.site-footer {
  background-image: linear-gradient(#c8ffdf, #1cc71c);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 40px;
  background-image: linear-gradient(to right, #c8ffdf, #1cc71c);
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #282729; }

.bg-overlay {
  background: url("/img/group-people-tablet-chart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 400px;
  padding-top: 50px; }

#wdImg {
  background: url("../img/humming-bird.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center left;
  height: 450px;
  object-fit: cover; }

.centered {
  position: absolute;
  top: 35%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white; }

/* My borders showing different div 
.col, div[class^="col-"], label[class^="col-"] {
    border: 1px solid red;
    margin: 2px; 
    
} 

.row {
    border: 3px solid blue;
    padding: 2px;
    margin: 5px;
}

.container, .container-fluid {
    border: 3px solid green;
    padding: 2px;
    margin: 5px;    
}

.media {
    border: 3px solid yellow;
    padding: 2px;
    margin: 5px;       
}  

.card {
    border: 3px solid purple;
    padding: 2px;
    margin: 5px;    
}


.orange-border {

    border: 1px solid green;

}   
*/
.card-horizontal {
  display: flex;
  flex: 1 1 auto; }

.carousel-caption {
  top: 35%;
  bottom: auto; }
